tr{
    color:rgb(252, 252, 252);
}

tr.color1{
    background-color: green;
}

tr.color2{
    background-color: rgb(241, 195, 135);
}

tr.color3{
    background-color: rgb(202, 190, 79);
}

tr.patron1{
    background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
tr.patron2{
    background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#A8B1BB 6px, transparent 4px) 0 -4px,
    linear-gradient(120deg, #A8B1BB 3px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
tr.patron3{
    background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}